@use "sass:map";

.shared-heading {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1.25rem;

  .title {
    margin-bottom: 0;
  }

  @media(min-width: map.get($breakpoints, 'tablet-min')) {
    .title {
      flex: 1;
    }
  }

  @media(max-width: map.get($breakpoints, 'phone-max')) {
    * {
      width: 100%;
    }
  }
}
