.application-sidebar-desktop {
  .menu {
    margin-right: 4rem;

    .is-active {
      border-radius: 5px;
    }
  }

  .svg-icon {
    margin-right: 1rem;
  }

  .application-content {
    padding-bottom: 2rem;
  }
}

.application-sidebar-mobile {
  &.sidebar-open {
    .sidebar-menu {
      margin-left: 0;
    }

    .sidebar-toggle {
      left: 100%;
    }
  }

  .sidebar-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: white;
    height: 100%;
    width: 100%;
    margin-left: -100%;
    transition: margin-left 800ms ease;

    .svg-icon {
      margin-right: 1rem;
    }
  }

  .sidebar-toggle {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 50%;
    height: 50%;
    width: 20%;
    color: hsl(0, 0%, 29%);
    transition: left 800ms ease;

    .svg-icon {
      padding-left: 4px;
    }
  }

  .application-content {
    padding-bottom: 2rem;
  }
}
